<!DOCTYPE html>
<html lang="en">
<head>
    <title>SEAL Validator Page</title>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="application/javascript" th:src="@{/js/validator.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/client.css}"/>
</head>
<body>

<div class="header">
    <img th:src="@{/images/SEAL_logo.jpg}" class="logo" />
    <div class="user-data">
        <div>
            <p id="user-data-access">eIDAS Access</p>
            <p id="user-data-name">Unnamed official</p>
        </div>
        <img th:src="@{/images/user.png}" id="user-img" />
    </div>
</div>

<div class="content">

    <table id="table-requests">
        <thead>
            <th>Request ID</th>
            <th>Procedure ID</th>
            <th>Date</th>
            <th>Requester</th>
        </thead>
        <tbody>
            <td class="first">036D2A2I</td>
            <td>SEAL Semi-automated Linking</td>
            <td>2019-08-10</td>
            <td class="last">User</td>
            <td class="button"><input type="button" value="Review" /></td>
        </tbody>
        <tbody>
        <td class="first">036D2A2I</td>
        <td>SEAL Semi-automated Linking</td>
        <td>2019-08-10</td>
        <td class="last">User</td>
        <td class="button"><input type="button" value="Review" /></td>
        </tbody>
        <tbody>
        <td class="first">036D2A2I</td>
        <td>SEAL Semi-automated Linking</td>
        <td>2019-08-10</td>
        <td class="last">User</td>
        <td class="button"><input type="button" value="Review" /></td>
        </tbody>
        <tbody>
        <td class="first">036D2A2I</td>
        <td>SEAL Semi-automated Linking</td>
        <td>2019-08-10</td>
        <td class="last">User</td>
        <td class="button"><input type="button" value="Review" /></td>
        </tbody>
    </table>

</div>

<div class="footer">

    <div class="info">
        <p><a href="#">About SEAL</a></p>
        <p><a href="#">Data Protection Notice</a></p>
    </div>
    <div class="ue-logo">
    </div>

</div>

</body>
</html>