<a id="hide-request" href="#">X</a>

<h2>Request #<span id="current-request-id"></span></h2>

<h3 id="request-date"></h3>

<div id="request-attributes">

    <div id="request-attr-1">

        <h3>CEF eID - Spain</h3>

        <div class="attr-content">
            <div>
                <p class="status">Validation pending by official</p>
                <p class="level">High</p>
            </div>

            <table>
            </table>
        </div>
    </div>

    <div id="request-attr-2">

        <h3>Universitat Jaume I</h3>

        <div class="attr-content">
            <div>
                <p class="status">Validation pending by official</p>
                <p class="level">Low</p>
            </div>

            <table>
            </table>
        </div>
    </div>
</div>

<ul id="request-docs">
</ul>

<div id="request-buttons">
        <input type="button" id="validate-request" value="Validate" />
        <input type="button" id="reject-request" value="Reject" />
</div>

<div id="request-messages">
    <div id="messages-space">
    </div>
    <div id="send-message-div">
        <input type="text" id="text-message" />
        <input type="button" id="send-message" value="Send" />
    </div>
</div>